{%extends 'base.html'%}

{%block title%}Question 2!{%endblock%}


{%block question%}
{%for msg in get_flashed_messages()%}
<h1>{{msg}}</h1>
{%endfor%}
<h2>{{quiz.questions[2].question}}</h2>
{%endblock%}
{%block answer %}
<form action="/answer" method="POST">
    <input type="radio" name="choices" value="Less than $10,000" id="Less than $10,000">
    <label for="Less than $10,000"> Less than $10,000 </label><br>
    <input type="radio" name="choices" value="$10,000 or more" id="$10,000 or more">
    <label for="$10,000 or more"> $10,000 or more </label><br>
    <button>Submit</button>
</form>
{%endblock%}
{{quest_replied}}