<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Satisfaction survey{%endblock%}</title>
</head>

<body>
    <h1>This header is in all pages</h1>
    <p>{{session["responses"]}}</p>
    {%block question %}
    <h1>Welcome to the survey!</h1>
    <h2>{{quiz.title}}</h2>
    <h3>{{quiz.instructions}}</h3>
    <form action="/questions/0" method="POST">
    <button>Start Survey</button>
    </form>
    {%endblock%}
    {%block answer %}
    {%endblock%}
</body>

</html>